<div class="row">
    <h1>{{title}}</h1>
    <div class="col s12 m9 z-depth-2">
        <table class="bordered responsive-table">
            <thead>
                <tr>
                    <th>Cant</th>
                    <th>Nombre</th>
                    <th>Precio unitario</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let product of cart">
                    <td><input type="number" (change)="updateCant(product.id,$event)" (keyup)="updateCant(product.id,$event)" value="{{product.cant}}" name="cant" style="width: 60px;"></td>
                    <td>{{product.name}}</td>
                    <td>$ {{product.price | number}}</td>
                    <td>$ {{product.price * product.cant | number}}</td>
                    <td><a class="pointer" (click)="deleteProduct(product.id)">Eliminar</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col s12 m3 z-depth-2 ">
        <div class="padding20">
            <h5>Datos de pago</h5>
            <p><strong>Total: </strong>$ {{ total | number }} COP</p>
            <button class="btn blue" (click)="pagar()"> Pagar</button>
        </div>

    </div>
</div>