<div class="row">
    <h1>{{title}} </h1>
    <p>El ahorro siempre</p>
    <div class="col s12">
        <div class="row">
            <div class="col s12 ">
                <div class="card">
                    <div class="card-image">
                        <img src="./assets/1959a11aa75c936.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="col s12 m3" *ngFor="let product of products | orderBy: order : valor | filterBy: filtro ; let i=index ">
                    <div class="card small producto ">
                        <div class="card-image ">
                            <img src="assets/nofoto.png ">

                            <span *ngIf="product.available ">
                                <div class="chip green lighten-4 white-text " style="position:absolute; top: 5px; left:5px ">
                                    Disponible
                                </div>
                            </span>

                        </div>
                        <div class="card-content ">
                            <span class="card-title ">{{product.name}}</span>

                            <p><strong class="green-text ">${{product.price | number}} COP</strong> | {{product.quantity}} In Stock</p>
                            <a class="pointer btn blue add-car" (click)="sendtocart(product.id,product.name,product.price)">ADD TO CAR</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- <img class="materialboxed" width="100%" src="./assets/1959a11aa75c936.jpg"> -->
    </div>
</div>