<div class="row productos">
    <h1>{{title}}</h1>
    <div class="col s12">
        <div class="col s12 m3">
            <label>Ordenado por:</label>
            <select [(ngModel)]="opcion" (change)="ordenar()" name="order" id="ordenado" class="browser-default">
                        <option value="" disabled selected>Elije una opcion</option>
                        <option value="available">Disponible</option>
                        <option value="noavaliable">No Disponible</option>
                        <option value="quantity">Stock Desc</option>
                        <option value="quantity2">Stock Asc</option>
                        <option value="pricedes">Precio Desc</option>
                        <option value="priceasc">Precio Asc</option>
                    </select>
        </div>
        <div class="col s12 m3">
            <div class="input-field col s12" *ngIf="last == true">
                <input (keyup)="filtrar('name',$event)" name="name" id="name" type="text" class="validate">
                <label for="name">Buscador</label>
            </div>
        </div>

        <!-- <app-filter (ordenar)="ordenar($event)" (filtrar)="filtrar($event)"></app-filter> -->
        <div class="col s12">
            <hr>
        </div>
    </div>

    <div class="col s12">
        <div class="row">
            <div class="col s12 m3">
                <p>Filtado: <span><small><a class="pointer" (click)="filtrar('todos','')">Borrar filtros</a></small></span></p>

                <ul class="collection">
                    <li class="collection-item">
                        <p>Disponibilidad</p>

                        <div class="chip">
                            <a class="pointer" (click)="filtrar('disponible','')">Disponible</a>
                        </div>
                        <div class="chip">
                            <a class="pointer" (click)="filtrar('nodisponible','')">No Disponible</a>
                        </div>

                    </li>
                    <li class="collection-item">
                        <p>Stock disponible</p>
                        <label for="">Cantidad</label>
                        <input type="number" (keyup)="filtrar('stock',$event)" [(ngModel)]="filter_stock.quantity" name="filter-stock">
                    </li>
                    <li class="collection-item">
                        <p>Precio</p>
                        <div class="col s12 ">
                            <label for="">Min</label>
                            <input type="number" name="min-price">
                        </div>
                        <div class="col s12 ">
                            <p>Hasta</p>
                        </div>
                        <div class="col s12 ">
                            <label for="">Max</label>
                            <input type="number" name="max-price">
                        </div>

                    </li>

                </ul>



            </div>
            <div class="col s12 m9">
                <div class="col s12 m4" *ngFor="let product of products | orderBy: order : valor | filterBy: filtro ; let i=index ">
                    <div class="card small producto ">
                        <div class="card-image ">
                            <img src="assets/nofoto.png ">

                            <span *ngIf="product.available ">
                                <div class="chip green lighten-4 white-text " style="position:absolute; top: 5px; left:5px ">
                                    Disponible
                                </div>
                            </span>

                        </div>
                        <div class="card-content ">
                            <span class="card-title ">{{product.name}}</span>

                            <p><strong class="green-text ">${{product.price | number}} COP</strong> | {{product.quantity}} In Stock</p>
                            <a class="pointer btn blue add-car" (click)="sendtocart(product.id,product.name,product.price)">ADD TO CAR</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>