<!-- <ul [attr.id]="'dropdown'+parent" class='dropdown-content'>

    <li *ngFor="let child of items, let i = index">
        <span *ngIf="child.sublevels && child.sublevels.length > 0">
          <a (click)="actualizarDrop()" class="dropdown-button sublevel" [attr.data-activates]="'dropdown'+parent+'-'+i" href="#">{{child.name}} </a>
          <app-sublevels-nav #menu [parent]="parent+'-'+i" [items]="child.sublevels"></app-sublevels-nav>
      </span>
        <span *ngIf="!child.sublevels || child.sublevels.length === 0">
          <a href="#">{{child.name}} </a>
      </span>

    </li>
</ul> -->
<ul id="sublevel">
    <li *ngFor="let child of items, let i = index">
        <span *ngIf="child.sublevels && child.sublevels.length > 0">
                <a routerlinkactive="active" [routerLink]="['productos', child.id]" >{{child.name}} </a>
                <app-sublevels-nav class="sublevel" [parent]="i" [items]="child.sublevels"></app-sublevels-nav>
        </span>
        <span *ngIf="!child.sublevels || child.sublevels.length === 0">
                <a routerlinkactive="active" [routerLink]="['/productos', child.id, last]" >{{child.name}} </a>
        </span>
    </li>

</ul>