<div class="row nav-bar ">
    <div class="">

        <!-- <a href="#" data-activates="slide-out" class="button-collapse background-circle"><i class="material-icons">menu</i></a> -->
        <div class="col s12 m8">
            <a data-activates="slide-out" class="btnmenu show-on-medium-and-down hide-on-large-only button-collapse btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">menu</i></a>
            <ul class="nav  hide-on-med-and-down">
                <li *ngFor="let categorie of categories, let i = index">
                    <span *ngIf="categorie.sublevels && categorie.sublevels.length > 0">
                        <a routerlinkactive="active" [routerLink]="['productos', categorie.id]" >{{categorie.name}} </a>
                        <app-sublevels-nav class="sublevel" [parent]="i" [items]="categorie.sublevels"></app-sublevels-nav>
                    </span>
                    <span *ngIf="!categorie.sublevels || categorie.sublevels.length === 0">
                        <a [routerLink]="['/productos', categorie.id, last]">{{categorie.name}} </a>
                    </span>
                </li>
                <li class="cart">
                    <span *ngIf="cart">
                        <a [routerLink]="['cart']"> 
                            <i class="material-icons">shopping_cart</i> 
                            <span class="background-circle-little">{{cart.length}}</span>
                    </a>
                    </span>
                </li>
            </ul>
        </div>
        <div class="col s12 m4 center-align">
            <a href="#!" class="logo brand-logo"><img src="assets/logo_dark.png" alt=""></a>

        </div>



        <ul class="side-nav" id="slide-out">

            <li class="cart">
                <span *ngIf="cart">
                    <p>Carrito</p>
                    <div class="chip red accent-1 white-text">
                        <a [routerLink]="['cart']">
                            <p class="white-text" style="margin-top:0px; display:inline-block; vertical-align: middle"> {{cart.length}} products</p> <i class="white-text material-icons" style="margin-top:-12px; display:inline-block; vertical-align: middle">shopping_cart</i> </a>
                    </div>
                </span>
            </li>
            <li>
                <div class="divider"></div>
            </li>
            <li *ngFor="let categorie of categories, let i = index">
                <span *ngIf="categorie.sublevels && categorie.sublevels.length > 0">
                        <a routerlinkactive="active" [routerLink]="['productos', categorie.id]" >{{categorie.name}} </a>
                        <app-sublevels-nav class="sublevel" [parent]="i" [items]="categorie.sublevels"></app-sublevels-nav>
                    </span>
                <span *ngIf="!categorie.sublevels || categorie.sublevels.length === 0">
                        <a [routerLink]="['/productos', categorie.id, last]">{{categorie.name}} </a>
                    </span>
            </li>

        </ul>
    </div>
</div>