/* You can add global styles to this file, and also import other style files */

h1 {
    font-size: 40px !important;
    line-height: 0px !important;
}

.nav-bar {
    width: 100%;
    background-color: #fafafa;
    position: sticky;
    padding: 0 40px;
}

.nav {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.nav ul {
    list-style: none;
}

.nav li a {
    background-color: #fafafa;
    color: #FF707A;
    text-decoration: none;
    padding: 20px 15px;
    display: block;
}

.nav li a:hover {
    background-color: #f5f5f5;
    color: #424242;
}

.nav>li {
    float: left;
}

.nav li ul {
    display: none !important;
    position: absolute;
    min-width: 140px;
}

.nav li:hover>ul {
    display: block !important;
}


/* Este cambio es para el tema dinamico con angular */

.nav li:hover>span>app-sublevels-nav>ul {
    display: block !important;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    right: -140px;
    top: 0;
}

.logo img {
    width: 180px;
    margin-top: 5px;
    margin-right: 30px;
}

.producto .card-content {
    padding: 5px !important;
}

.add-car {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.filter-input {
    margin-top: -50px;
}

.pointer {
    cursor: pointer;
}

.padding20 {
    padding: 20px !important;
}

.cart a {
    color: black !important;
}

.cart a:hover {
    color: #424242 !important;
}

.cart a span {
    position: absolute;
    top: 10px;
    margin-left: -10px;
    color: #fff;
}


/* .side-nav .cart a {
    position: relative !important;
    padding: 0;
}

.side-nav .cart a span {
    position: absolute;
    left: 23px;
    top: 2px;
} */

.background-circle {
    background-color: rgba(0, 0, 0, 0.18);
    padding: 15px;
    border-radius: 50%;
}

.background-circle-little {
    background-color: #FF707A;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
}

.side-nav {
    padding: 20px;
}

#sidenav-overlay {
    display: none;
}

.side-nav li>span>app-sublevels-nav>ul {
    margin-left: 10px;
}

.side-nav li {
    float: none;
    line-height: 25px !important;
    padding: 0 20px;
    width: 100% !important;
}

.productos {
    margin-bottom: 150px;
}

.btnmenu {
    position: absolute !important;
    top: 10px;
    left: 20px;
}

.btn-floating.btn-large i {
    line-height: 40px !important;
}

.btn-floating.btn-large {
    width: 40px !important;
    height: 40px !important;
}